@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
	background-image: url("../img/eletrocardiograma.jpg");/*Caminho correto*/
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
}

.card{
	background: #00CED1;
	width: 500px;
	left: 32%;
	margin-top: 10%;
	font-weight: bold;
	border-radius: 6px;
	box-shadow: -0.4em 0 0.4em #00CED1;
	font-family: 'Roboto', sans-serif;
}

.card input, label, passord{
	font-weight: bold;
	font-size: 18px;
}

.card h3{
	text-align: center;
	padding: 5px;
}

.card-body{
	background: #E0FFFF;
}