

.titulo1{
	font-size: 18px;
	font-weight: 300;
}

.card{
	background: #B0C4DE;
	width: 1000px;
}

.card-block label{
	font-size: 15px;
	margin-left: 15px;
	margin-top: 5px;
}

.card-block label, input, password{
	font-weight: bold;
}

.botao{
	font-size: 18px;
	font-weight: 500;
	margin-left: 20px;
}

#botaoPesquisar{
	margin-left: 0.2rem;
	margin-bottom: 30px;
}